@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */

body {
  font-family: "Roboto", sans-serif;
  color: hsl(12, 9%, 22%);
}

/* Nav Bar */

header {
  background-color: hsl(54, 27%, 64%);
  font-size: 1.2rem;
  padding: 0.8em 4em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 2em;
}

/* Links */

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: hsl(120, 17%, 34%);
}

a:hover {
  color: hsl(161, 66%, 35%);
}

/* Hero */

.hero {
  padding: 4em;
  display: flex;
  justify-content: space-around;
}

.hero-text {
  width: 50%;
  padding-top: 3em;
}

.hero-text h1 {
  font-size: 2.3rem;
  margin-bottom: 1em;
}

/* main */

main {
  background-color: #e9edc9;
  text-align: center;
}

/* pop-customers section */

.pop-customers h2 {
  font-size: 2.3rem;
  padding: 0.8em;
}

.all-customers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em auto;
}

figure img {
  width: 20vw;
  height: 25vh;
  border-radius: 20%;
  padding: 0.5em;
}

figcaption {
  background-color: hsl(54, 26%, 76%);
  font-size: 1.2rem;
  font-style: italic;
  padding: 0.5em;
  border-radius: 10%;
}
