@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */

body {
  font-family: "Roboto", sans-serif;
  color: hsl(12, 9%, 22%);
}

h2 {
  font-size: 2.3rem;
  padding: 0.8em;
}

/* Nav Bar */

header {
  background-color: #67735a;
  color: whitesmoke;
  font-size: 1.2rem;
  padding: 0.8em 4em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 2em;
}

/* Links */

a {
  text-decoration: none;
  color: wheat;
}

a:visited {
  color: white;
}

a:hover {
  color: hsl(161, 64%, 39%);
}

/* Hero */

.hero {
  padding: 4em;
  display: flex;
  justify-content: space-around;
}

.hero-text {
  width: 50%;
  padding-top: 3em;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

/* main */

main {
  text-align: center;
}

/* pop-customers section */

.all-customers {
  background-color: #d9ddb8;
  padding: 2em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

figure img {
  width: 15vw;
  height: 25vh;
  border-radius: 20%;
  padding: 0.5em;
}

figcaption {
  background-color: #67735a;
  font-size: 1.2rem;
  font-style: italic;
  padding: 0.5em;
  border-radius: 10%;
}

/* review */

.review-text {
  background-color: #b7d7b2;
  font-style: italic;
  font-size: 1.5rem;
  padding: 4em 6em 2em;
}

.review img {
  width: 9vw;
  height: 18vh;
  border-radius: 50%;
  margin-top: 1em;
}

/* contact */

.contact {
  background-color: #57c359;
  text-align: left;
  padding: 3em;
  margin: 6em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
}

.contact-text {
  width: 70%;
}

.contact-text h3 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

/* button */

button {
  background-color: #2f6948;
  color: white;
  padding: 0.5em 1em;
  border-radius: 10%;
  border: none;
}

button:hover {
  background-color: #5dec9b;
  color: black;
}

button:active {
  background-color: #2f6948;
}
